 <style>
        .video-wrapper {
            position: relative;
            cursor: pointer;
        }

        .play-btn {
            font-size: 0.85rem;
            font-weight: 600;
            letter-spacing: 1px;
            transition: transform 0.2s ease, opacity 0.3s ease;
        }

        .play-btn:hover {
            transform: translate(-50%, -50%) scale(1.08) !important;
        }

        .duration-badge {
            font-size: 0.8rem;
            letter-spacing: 0.5px;
        }
    </style>
 <!-- Delivering change -->
    <section class="mb-5 py-5 bg-white" data-header-theam="white" data-header-theme="light">
        <div class="container">
            <br>
            <div class="mt-5">
                <p class="fw-bold mb-5 text-uppercase tracking-wider">Delivering change</p>
                <div class="row align-items-start">
                    <div class="col-md-6 pe-md-5">
                        <h1 class="mb-4 display-1 font-serif fw-normal">
                            Advancing Climate Adaptation Through Technology
                        </h1>
                        <p class="text-secondary fs-6 lh-base">
                            Technology presents a major opportunity, but for countries to harness its potential, public
                            services need to be ready for it.
                        </p>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <img src="img/advancing.jfif" alt="Smiling professional at global networking event"
                            class="img-fluid w-100 object-fit-cover h-100">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION 1: THE RWANDA CASE STUDY -->
    <section class="container">
        <h1 class="mb-4">The Climate-Adaptation Challenge</h1>
        <p class="h5">
            Climate change is no longer a distant threat; it’s a daily governance challenge. From extreme weather to
            crop failure, governments are being pushed to act faster, smarter and more decisively. But many still don’t
            have access to the tools, insights and data they need to plan, prepare and respond effectively. The
            Reimagined State Accelerator for Climate and Agriculture is our platform for addressing this.
            <br><br>
            By connecting governments with cutting-edge technology partners, the Accelerator enables climate-vulnerable
            countries to bring innovative solutions for everything from disaster response to agricultural policy
            directly into their core public systems.
            <br><br>
            That’s climate adaptation, reimagined.
        </p>
    </section>

    <section class="bg-light py-5">
        <div class="container">
            <div class="row align-items-center mt-5 mb-5">

                <div class="col-12 col-md-3 text-center text-md-start mb-4 mb-md-0">
                    <h6 class="fw-bold text-uppercase tracking-wide m-0 text-dark">
                        Our Partners
                    </h6>
                </div>

                <div class="col-12 col-md-9">
                    <div
                        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start gap-3">

                        <div class="bg-secondary-subtle d-flex align-items-center justify-content-center p-3 rounded">
                            <img src="img/amini.png" alt="Amini Logo"
                                class="img-fluid object-fit-cover md:h-[6rem] md:w-[7rem]">
                        </div>

                        <div class="bg-secondary-subtle d-flex align-items-center justify-content-center p-3 rounded">
                            <img src="img/thinking.png" alt="Thinking Machines Logo"
                                class="img-fluid object-fit-cover md:h-[6rem] md:w-[13rem]">
                        </div>

                        <div class="bg-secondary-subtle d-flex align-items-center justify-content-center p-3 rounded">
                            <img src="img/planet.png" class="img-fluid object-fit-cover md:h-[6rem] md:w-[13rem]">
                        </div>

                        <div class="bg-secondary-subtle d-flex align-items-center justify-content-center p-3 rounded">
                            <img src="img/oracle.png" alt="Oracle Logo"
                                class="img-fluid object-fit-cover object-fit-cover md:h-[6rem] md:w-[15rem]">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- SECTION 2: A Multi-Partner Model -->
    <section class="container mt-5">
        <h1 class="mb-4">A Multi-Partner Model</h1>
        <div class="h5">
            <p>
                The Reimagined State Accelerator for Climate and Agriculture brings together a growing coalition of
                governments and technology partners, each working together to solve real-world public challenges such as
                disaster response and sustainable agriculture. This work goes beyond tech pilots. The Accelerator embeds
                practical tools into public systems and accelerates learning and improvement for scaled adoption across
                countries. Our current partners include:
            </p>
            <ul>
                <li>
                    <strong>Planet:</strong>
                    Provides Earth-observation data to help governments monitor climate risks, manage natural resources
                    and respond to disasters in real time. Its data are now integrated into the core planning and
                    emergency-response systems of places such as Zanzibar, Sierra Leone and the Philippines.
                </li>
                <li>
                    <strong>Thinking Machines:</strong>
                    Uses advanced data science and AI modelling to support governments. For instance, in the
                    Philippines, Thinking Machines is working alongside Planet and TBI to co-develop models that predict
                    landslide and flood risk, enabling government agencies to plan ahead and respond more effectively to
                    climate-driven disasters.
                </li>
                <li>
                    <strong>Amini:</strong>
                    Partners with TBI and governments to apply AI-powered insights for improving agricultural
                    productivity, climate monitoring and food-system resilience, starting with a national-scale
                    initiative in Sierra Leone.
                </li>
                <li>
                    <strong>Oracle:</strong>
                    Provides the Agriculture Intelligence platform, which combines relevant open, proprietary and
                    government-owned data into a solution to empower governments with a unified, authoritative source of
                    truth. Oracle and TBI use Agriculture Intelligence to deliver a holistic view of the critical
                    drivers of agricultural productivity – both present and future – to equip leaders with reliable,
                    timely data and advanced predictive analytics. This enables more effective decision-making to help
                    address challenges with precision and foresight and build resilient food systems.
                </li>
            </ul>
            <br>
            <p>
                These collaborations are already helping governments put innovation into action – from predictive
                disaster models to AI-driven food systems.
            </p>
            <br>
            <p>
                By connecting governments with cutting-edge technology partners, the Accelerator enables
                climate-vulnerable countries to bring innovative solutions for everything from disaster response to
                agricultural policy directly into their core public systems.
            </p>
            <br>
            <p>
                That’s climate adaptation, reimagined.
            </p>
        </div>
    </section>

    <section class="py-5">
        <div class="container">

            <div class="video-wrapper overflow-hidden rounded shadow" id="videoContainer">
                <video id="myVideo" class="w-100 d-block ifject-fit-cover">
                    <source src="video/Bridging the Digital Divide in Rwanda and Beyond.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <!-- Centered Custom Play Button -->
                <button id="playBtn"
                    class="play-btn position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center text-uppercase shadow-sm w-[80px] h-[80px] rounded-circle">
                    PLAY
                </button>

                <!-- Time Duration Badge (Bottom Right) -->
                <div id="videoDuration" class="duration-badge position-absolute bottom-0 end-0 m-3 text-white">
                    01:28
                </div>
            </div>

        </div>
    </section>

    <!-- SECTION 1: THE RWANDA CASE STUDY -->
    <section class="container">
        <div class="mb-5">
            <h1 class="mb-5">Turning Satellite Insights Into Action in Zanzibar</h1>
            <p class="h5">
                In 2023, Zanzibar and TBI launched a pioneering partnership with Planet to bring the power of satellite
                imagery into government decision-making. Through the Reimagined State Accelerator for Climate and
                Agriculture, Zanzibar’s government became one of the first in East Africa to embed geospatial data in
                the heart of public-service delivery.
                <br><br>
                Over the course of the pilot, more than ten ministries, departments and agencies began using Planet’s
                imagery to monitor forests, manage fisheries and track coastal erosion in near real time.
                <br><br>
                It wasn’t just the technology that made this initiative successful; it was the approach. From
                co-designing local use cases and delivering technical training to embedding geographic information
                system (GIS) tools into everyday workflows, TBI provided tailored support across every step of the
                journey.
                <br><br>
                Now extended into a multi-year programme, Zanzibar is scaling its use of satellite data across sectors,
                integrating geospatial insights into planning, infrastructure and environmental policy, and setting out
                a blueprint for other governments to follow.
            </p>
        </div>
        <div class="mb-5">
            <h1>AI That Secures Crops and Futures</h1>
            <p class="h5">
                Global food security is increasingly under threat – disrupted not only by climate change, but also by
                supply shocks and outdated agricultural systems. In response, governments are seeking out smart,
                data-driven ways to protect crops, improve yields and reduce reliance on imports.
                <br><br>
                In Sierra Leone, TBI and Amini have partnered under the government’s Feed Salone strategy to co-create
                an AI-powered solution that delivers real-time crop monitoring and predictive insights. This work
                combines geospatial data, advanced climate modelling and AI-driven diagnostics to help inform government
                decision-making around rice production, a key national priority.
                <br><br>
                By embedding this technology into public systems, the project not only supports food security today, but
                also lays the foundation for a scalable, sustainable model that can be applied across the continent.
                That’s agricultural transformation powered by innovation: protecting crops, and the people who depend on
                them.
            </p>
        </div>
        <div class="mb-5">
            <h1>Scaling the Impact</h1>
            <p class="h5">
                The Reimagined State Accelerator for Climate and Agriculture explores what is possible when technology
                and government work in lockstep. By co-creating, testing and scaling digital solutions, the Accelerator
                is helping countries move from reactive crisis response to proactive climate adaptation. These
                satellite-data and predictive-analytics tools are forming the backbone of a more resilient state.
            </p>
        </div>
    </section>

    <!-- Create with us -->
    <section class="py-5 text-dark bg-white">
        <div class="container py-4">
            <div class="row g-4">

                <!-- Left Column: Badge / Label -->
                <div class="col-md-3">
                    <h6 class=" text-dark-emphasis text-uppercase ">
                        Create with us
                    </h6>
                </div>

                <!-- Right Column: Links List -->
                <div class="col-md-9">
                    <div class="d-flex flex-column">

                        <!-- Item 1 -->
                        <a href="layout.html?page=delivering-change"
                            class="d-flex justify-content-between align-items-center text-black text-decoration-none py-4 border-bottom border-secondary">
                            <span class="display-5 font-serif">Turn bold ideas into reality</span>
                            <i class="bi bi-arrow-right fs-4"></i>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>